<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoiseBox_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoiseBox_UI.Properties.Settings>
            <setting name="DownloadsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualizationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MicOutputEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalOutputEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainVolumeSliderValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MicVolumeSliderValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AdditionalVolumeSliderValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastSelectedPlaylistName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBackgroundPlaylistName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedSongId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeekBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPlaybackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeToTrayEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainOutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalOutputDevice" serializeAs="String">
                <value />
            </setting>
        </NoiseBox_UI.Properties.Settings>
    </userSettings>
</configuration>